a, a:hover, a:visited {
  color: #ffffff !important;
}

.detail-wrapper {
  position: relative;
  width: 80%;
  color: #ffffff;
  margin: 0 auto 0 auto;
  background: #389c90;
  padding: 15px;
  font-family: Libre Franklin, serif;
  height: 510px;

  @media only screen and (min-width: 647px) {
    height: 300px;
  }
}

.back-btn {
  right: 0;
  top: 0;
  background: #3533b7;
  font-size: 16px;
  border: 0;
  width: 100px;
  height: 30px;
  margin: 20px 0 20px 0;
  font-family: Montserrat, serif;

  display: block;
  position: relative;

  @media only screen and (min-width: 647px) {
    position: absolute;
    margin: 20px;
  }
}

.arrow-left {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-left: -7px;
  margin-right: 2px;
}

.photo-title {
  font-size: 30px;
  margin-bottom: 10px;
  max-width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.photo-author, .separator {
  margin-right: 10px;
}

.photo-content {
  margin-top: 20px;
}

.image-wrapper {
  height: 180px;
  width: 200px;
  display: block;

  @media only screen and (min-width: 647px) {
    display: inline-block;
  }
}

.photo-thumbnail {
  height: 100%;
  width: 100%;
}

.image-description-wrapper {
  height: 160px;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  display: inline-block;
  position: absolute;
  max-width: 250px;

  @media only screen and (min-width:400px) {
    max-width: 400px;
  }

  @media only screen and (min-width:639px) {
    max-width: 300px;
  }

  @media only screen and (min-width: 793px) {
    max-width: 450px;
  }

  @media only screen and (min-width: 992px) {
    max-width: 700px;
  }
}

.description {
  margin-top: 10px;
  width: 100%;
  max-height: 100px;
  display: block;
  overflow: auto;

  @media only screen and (min-width: 992px) {
    max-height: 100%;
    display: block;
    overflow: hidden;
  }
}

.photo-tags {
  a, a:hover, a:visited {
    margin-left: 20px;
    text-decoration: underline;
  }

  margin-top: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 700px;
}
