.photo-list-item {
  width: 260px;
  color: #ffffff;
  margin: 0 auto 30px auto;
  height: auto;
  background: #389c90;

  @media only screen and (min-width: 550px) {
    width: 80%;
  }

  @media only screen and (min-width: 1080px) {
    height: 180px
  }
}

.image-wrapper {
  width: 240px;
  height: 200px;
  padding: 20px;

  @media only screen and (min-width: 550px) {
    padding: 0;
    height: 140px;
    width: 180px;
  }

  @media only screen and (min-width: 1080px) {
    height: 180px;
    width: 240px;
  }
}

.image-data-wrapper {
  width: auto;

  @media only screen and (min-width: 1230px) {
    width: 75%;
  }
}

.photo-thumbnail {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;

  cursor: pointer;

  @media only screen and (min-width: 550px) {
    position: absolute;
    left: 0;
  }
}

.image-title {
  font-size: 20px;
  padding: 0;
  font-family: Arial, serif;
  max-width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  @media only screen and (min-width: 550px) {
    padding-top: 30px
  }

  @media only screen and (min-width: 774px) {
    max-width: 400px;
  }

  @media only screen and (min-width: 1080px) {
    font-size: 30px;
    padding: 30px 0 20px 0;
  }

  @media only screen and (min-width: 1100px) {
    max-width: 600px;
  }

  @media only screen and (min-width: 1230px) {
    max-width: 90%;
  }
}

.float-left {
  float: left;
}

.image-details-wrapper {
  width: 230px;
  height: 60px;
  position: relative;
  margin-top: 0;
  font-family: Rubik, serif;
  font-size: 12px;

  a, a:hover, a:visited {
    color: #ffffff;
  }

  @media only screen and (min-width: 800px) {
    width: 100%;
    margin-top: 20px;
  }

  @media only screen and (min-width: 1080px) {
    font-size: 14px;
  }
}

.image-published {
  position: absolute;
  font-size: 13px;
  left: 0;
  margin-right: 0;
  margin-top: 0;

  @media only screen and (min-width: 800px) {
    position: relative;
    font-size: 12px;
    float: left;
    margin-right: 5px;
    margin-top: 20px;
  }

  @media only screen and (min-width: 850px) {
    margin-right: 20px;
  }

  @media only screen and (min-width: 1080px) {
    font-size: 14px;
  }
}

.image-author, .image-link {
  margin-right: 10px;
  margin-top: 30px;

  @media only screen and (min-width: 800px) {
    margin-right: 5px;
    margin-top: 20px;
  }

  @media only screen and (min-width: 850px) {
    margin-right: 20px;
  }
}

.published-on {
  display: none;

  @media only screen and (min-width: 550px) {
    display: inline;
  }
}
